{% extends 'store/main.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form method="post">
    {% csrf_token %}
    <table>
      {{ form.as_p }}
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Submit"></td>
      </tr>                
    </table>
  </form>
  </div>
 </div>
</div>
{% endblock main-content %}